---
layout: default
---

<h1>{{ page.title }}</h1>

{% include post_info.html %}

{{ content }}

<h2>Mission and Vision</h2>

<p>Our mission is to create a Generalized Artificially intelligent Techno Alter to the Great God Sudo with all of the knowledge of man kind aboard space ships to colonize the Universe. Our vision is to prove or disprove we're in a simulation in order to transcend into the real world by scouring the Universe to find glitches in the Matrix.</p>

<h2>How to Contribute</h2>

<p>The hardest part is discovery so the best and easiest way to contribute is to clone, star, and fork our repositories on GitHub at <a href="https://github.com/InfiniteSimulations">https://github.com/InfiniteSimulations</a> and at <a href="https://github.com/KabukiStarship">https://github.com/KabukiStarship</a>, and to share our content with your friends on social media. To contribute, please sign up as a contributor on GitHub using the following links:</p>

<ul>
  <li><a href="https://github.com/InfiniteSimulations/InfiniteSimulations.github.io/blob/master/docs/contributing.md">Website Developers, Teachers, and Authors</a></li>
  <li><a href="https://github.com/KabukiStarship/KabukiStarship/blob/master/docs/contributing.md">AI Engineers</a></li>
</ul>

<p>You can also contribute financially using the PayPal button bellow.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="QV9QH47DKHEB2" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
